<h1>Sign In</h1>
<form [formGroup]="signInForm">
  <mat-form-field appearance="standard">
    <mat-label>Email</mat-label>
    <input matInput placeholder="turdfurgeson@gmail.com" />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</form>
